include CONTRIBUTING.md
include CHANGELOG.md
recursive-include packaging *.spec
recursive-include packaging *.txt
recursive-include scripts *.ps1 *.py
recursive-include assets *.ico *.svg
recursive-include docs *.md
recursive-include tests *.py
